group={{ galera_cluster_name}}
address="gcomm://{{ groups['galera_nodes'] | map('extract', hostvars, ['ansible_host']) | join(',') }}"
options="gmcast.listen_addr=tcp://0.0.0.0:4444"
donor={{ galera_donor_name }}
log='/var/log/garbd.log'
sst='backup_mysqldump'